/*BOUARROUDJ Nizar, VANDEN BORRE Léon - PROJET DE CRÉATION DE SITE WEB - UE LIFBDW - UCB LYON 1*/
body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    text-indent: 4px;
    word-spacing: 3px;
    position: static;
    border-radius: 16px;
}

header,
nav,
main,
footer {
    padding: 1em 0;
    overflow: auto;
}

header {
    display: flex;    
    background-color: white;
    color: black;
    text-align: end;
}


.header_titre {
    justify-content: flex-end;
    background-color: #FFFFFF;
    color: #000000;
    font-style: italic;
    font-weight: bolder;
    font-size: 32px;
    font-variant: small-caps;
    line-height: 18px;
    text-shadow: 1px -3px 0px #800000;
    order: 5;
}

.header_logo {
    position: relative;
    text-align: left;
    width: 10%;
    padding-top: 1%;
}

.header_logo > a > img{
    width: 80%;
}

.main_div {
    display: flex;
	justify-content: space-between;
    margin: auto;
    border: 4px solid gray;
    border-radius: 1em;
    box-sizing: border-box;
	height: 100%;
}

.sub {
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-around;    
	background-color: #10898d;
    padding-left: 1em;
    padding-right: 1em;
	line-height: 2em;
    
}

main {
	background-color: lightgrey;
    padding-left: 1em;
}

footer {
	display: flex;
	justify-content: space-around;
    background-color: 	#046169;
}

.notification{
    background-color: #ffffe6;
    margin: 1em;
    padding: 1em;
    border: 1px solid  #ffffe6;

}

.panneau{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    text-align: center;  
    justify-content: center;  
    text-align: center;
}

.panneau > div{
    margin-right: 2%;
}

.panneau_details{
    width: 80%;
}

.table_resultat{
    width: 100%;
    border: 1px solid #032f3c;
    background-color: white;
    text-align: center;
}

.table_resultat > thead > tr{
    border: 1px solid #032f3c;
    background-color: lightgrey;
}

.table_resultat > tbody > tr:hover{
    cursor: pointer;
    background-color: #032f3c !important;
    color:  white;
}

.table_resultat > tbody > tr:nth-child(2n){
    border: 1px solid #032f3c;
    background-color: lightgrey;
}


.table_resultat > tbody > tr:nth-child(2n+1){
    border: 1px solid #032f3c;
    background-color: white;
}

.bloc_commandes{
    border: 1px solid #032f3c;
    border-radius: 1em;
    background-color: white;
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 10px 10px 10px 10px;
    width: 90%;
}

.bloc_commandes > input[type=submit]{
    width : 15%;
    font-size: 1.2em;
    margin-left: 4%;
}


.bloc_commandes > select{
    width: 30%; 
    font-size: 1.2em;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.bloc_commandes > input[type=submit]:hover, .bloc_commandes > select:hover{

    cursor: pointer;
}

.accueil_description {
    color: #000000;    
    letter-spacing: 2px;
    word-spacing: 1px;
}
/*
#accueil_auteurs {
    color : orange;
}

#accueil_cadre {
    border: 2px solid rgba(50,50,50,0.6);
    border-radius: 10px;
    padding: 25px 0;
    background-color: red;
    opacity: 0.6;
    
    /*margin-inline: solid;
    margin-top: 25px;
    margin-bottom: 25px;}
*/
#logo_cont {
    display: flex;
    justify-content: center;
}
#univ_logo {
    width: 10%;
}


.select-container {
    display: inline-block;
    vertical-align: top;
    width: 200px; /* Ajustez la largeur selon vos besoins */
    margin-right: 20px; /* Espacement entre les menus déroulants */
    text-align: center; /* Alignement des labels à droite */
}

.select-container label {
    display: block;
}

.select-container select {
    width: 100%;
}


/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  /* Style the table headers */
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Style the table cells */
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  /* Alternate row color */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect */
  tr:hover {
    background-color: #f2f2f2;
  }

  .Cartes {
    display: block;
}

  .Cartes img {
        max-width:150px;
        min-height: fit-content;
  }

  .Affectation {
    display: grid; /* Utiliser un affichage flex pour aligner les images horizontalement */
    gap: 5px; /* Espacement entre les images */
  }

  .Affectation img {
        max-width: 100px; /* Largeur maximale de l'image */
        height:fit-content;
  }
  .Affectation select{
        width: 175px; /* Définir la largeur du menu de sélection */
        height: 30px;
    }

 .Affectation input{
    width: 100px;
    height: 30px;
 }
    
 .choixMain {
        display: grid; /* Utiliser un affichage flex pour aligner les images horizontalement */
        gap: 5px; /* Espacement entre les images */
}

  .cont {
    display: grid;
  }

  .pions img {
        max-width: 50px;
        height: auto;
  }

  .cont2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tabJeu{
    text-align: center;
    border-collapse: collapse; /* Fusionner les bordures des cellules du tableau */
    border-spacing: 0; /* Supprimer l'espace entre les cellules */
  }

  .tabJeu img{
    zoom:80%;
    max-width: 150px;
    height: fit-content;
  }

  .pionsIMG img{
    max-width: 75px;
    height: auto;
  }

  .Passage{
    display: grid;
    max-width: 50px;
    height: auto;
  }

.debug{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    font-size: 14px; /* taille de la police */
}
body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    text-indent: 4px;
    word-spacing: 3px;
    position: static;
    border-radius: 16px;
}

header,
nav,
main,
footer {
    padding: 1em 0;
    overflow: auto;
}

header {
    display: flex;    
    background-color: white;
    color: black;
    text-align: end;
}


.header_titre {
    justify-content: flex-end;
    background-color: #FFFFFF;
    color: #000000;
    font-style: italic;
    font-weight: bolder;
    font-size: 32px;
    font-variant: small-caps;
    line-height: 18px;
    text-shadow: 1px -3px 0px #800000;
    order: 5;
}

.header_logo {
    position: relative;
    text-align: left;
    width: 10%;
    padding-top: 1%;
}

.header_logo > a > img{
    width: 80%;
}

.main_div {
    display: flex;
	justify-content: space-between;
    margin: auto;
    border: 4px solid gray;
    border-radius: 1em;
    box-sizing: border-box;
	height: 100%;
}

.sub {
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-around;    
	background-color: #10898d;
    padding-left: 1em;
    padding-right: 1em;
	line-height: 2em;
    
}

main {
	background-color: lightgrey;
    padding-left: 1em;
}

footer {
	display: flex;
	justify-content: space-around;
    background-color: 	#046169;
}

.notification{
    background-color: #ffffe6;
    margin: 1em;
    padding: 1em;
    border: 1px solid  #ffffe6;

}

.panneau{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    text-align: center;  
    justify-content: center;  
}

.panneau > div{
    margin-right: 2%;
}

.panneau_details{
    width: 80%;
}

.table_resultat{
    width: 100%;
    border: 1px solid #032f3c;
    background-color: white;
    text-align: center;
}

.table_resultat > thead > tr{
    border: 1px solid #032f3c;
    background-color: lightgrey;
}

.table_resultat > tbody > tr:hover{
    cursor: pointer;
    background-color: #032f3c !important;
    color:  white;
}

.table_resultat > tbody > tr:nth-child(2n){
    border: 1px solid #032f3c;
    background-color: lightgrey;
}


.table_resultat > tbody > tr:nth-child(2n+1){
    border: 1px solid #032f3c;
    background-color: white;
}

.bloc_commandes{
    border: 1px solid #032f3c;
    border-radius: 1em;
    background-color: white;
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 10px 10px 10px 10px;
    width: 90%;
}

.bloc_commandes > input[type=submit]{
    width : 15%;
    font-size: 1.2em;
    margin-left: 4%;
}


.bloc_commandes > select{
    width: 30%; 
    font-size: 1.2em;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.bloc_commandes > input[type=submit]:hover, .bloc_commandes > select:hover{

    cursor: pointer;
}

.accueil_description {
    color: #000000;    
    letter-spacing: 2px;
    word-spacing: 1px;
}
/*
#accueil_auteurs {
    color : orange;
}

#accueil_cadre {
    border: 2px solid rgba(50,50,50,0.6);
    border-radius: 10px;
    padding: 25px 0;
    background-color: red;
    opacity: 0.6;
    
    /*margin-inline: solid;
    margin-top: 25px;
    margin-bottom: 25px;}
*/
#logo_cont {
    display: flex;
    justify-content: center;
}
#univ_logo {
    width: 10%;
}


.select-container {
    display: inline-block;
    vertical-align: top;
    width: 200px; /* Ajustez la largeur selon vos besoins */
    margin-right: 20px; /* Espacement entre les menus déroulants */
    text-align: center; /* Alignement des labels à droite */
}

.select-container label {
    display: block;
}

.select-container select {
    width: 100%;
}


/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  /* Style the table headers */
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Style the table cells */
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  /* Alternate row color */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect */
  tr:hover {
    background-color: #f2f2f2;
  }

  .Cartes {
    display: block;
}

  .Cartes img {
        max-width:150px;
        min-height: fit-content;
  }

  .Affectation {
    display: grid; /* Utiliser un affichage flex pour aligner les images horizontalement */
    gap: 5px; /* Espacement entre les images */
  }

  .Affectation img {
        max-width: 100px; /* Largeur maximale de l'image */
        height:fit-content;
  }
  .Affectation select{
        width: 175px; /* Définir la largeur du menu de sélection */
        height: 30px;
    }

 .Affectation input{
    width: 100px;
    height: 30px;
 }
    
 .choixMain {
        display: grid; /* Utiliser un affichage flex pour aligner les images horizontalement */
        gap: 5px; /* Espacement entre les images */
}

  .cont {
    display: grid;
  }

  .pions img {
        max-width: 50px;
        height: auto;
  }

  .cont2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tabJeu{
    text-align: center;
    border-collapse: collapse; /* Fusionner les bordures des cellules du tableau */
    border-spacing: 0; /* Supprimer l'espace entre les cellules */
  }

  .tabJeu img{
    zoom:80%;
    max-width: 150px;
    height: fit-content;
  }

  .pionsIMG img{
    max-width: 75px;
    height: auto;
  }

  .Passage{
    display: grid;
    max-width: 50px;
    height: auto;
  }

.debug{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    font-size: 14px; /* taille de la police */
}


.choixMain {
    zoom:80%;
    display: grid;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  

.choixMain h2 {
    margin-bottom: 10px;
}

.choixMain h3 {
    margin-bottom: 5px;
}

.choixMain select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.choixMain input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.choixMain input[type="submit"]:hover {
    background-color: #45a049;
}

.info {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px; /* Réduire l'espacement en bas */
}

.info th, .info td {
    padding: 4px; /* Réduire le rembourrage pour un espacement plus compact */
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px; /* Réduire la taille de la police si nécessaire */
}

.info th {
    background-color: #f2f2f2;
}


.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Affectation h2 {
    margin-bottom: 10px;
}

.Affectation h3 {
    margin-bottom: 5px;
}

.Affectation select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Affectation input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.Affectation input[type="submit"]:hover {
    background-color: #45a049;
}

.inscr{
    text-align: center;
    margin: 0 auto;
}

.image {
    width: 400px; /* Largeur souhaitée */
    height: auto; 
    display: block; /* Cela permet de centrer l'image horizontalement */
    margin: 0 auto;
}

.bloc_commandes{
    display: block; /* Cela permet de centrer l'image horizontalement */
    margin: 0 auto;
}